/*body {
    background-color: blue;
}
p {
    color: red;
}
#clickupgrade {
    position: relative;
    bottom: 36px;
    left: 115px;
}
#top {
    padding: 20px;
    background-color: #666;
    width: 80px;
}
#cfc {
    position: absolute;
    bottom: 92px;
    left: 130px;
    font-size: 100px;
}
#upgrade {
    background-color: violet;
}*/